/* https://codepen.io/lucasyem/pen/ZEEYKdj */
/* got this awesome input from above mentioned code pen */

.form_group {
    position: relative;
    padding: 15px 0 0;
    display: flex;
    justify-content: space-around;
}

.form_field {
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    transition: border-color 0.2s;
}

.form_field::placeholder {
    opacity: 0.5;
}

.form_field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image-slice: 1;
}

.form_field:focus ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
}
